<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sy.dao.IEmployeeDao">
    <select id="getDeptEmpTree" resultType="Map">
        SELECT * FROM
            (
                SELECT
                    CONVERT(VARCHAR(20),b.EmpId) AS EmpId,
                    b.EmpNo,
                    b.EmpName,
                    CONVERT(VARCHAR(20),a.DeptId) + '-' +  a.DeptNo AS pId,
                    b.EmpStatus3,
                    b.EmpStatus4,
                    2 AS Lev
                FROM
                    Tbb_Dept a LEFT JOIN Tbb_Employee b ON a.DeptId = b.DeptId
                WHERE b.EmpStatus1 != -1 AND b.EmpId != 1
                UNION
                SELECT
                    CONVERT(VARCHAR(20),Tbb_Dept.DeptId) + '-' +  Tbb_Dept.DeptNo AS Id,
                    Tbb_Dept.DeptNo,
                    Tbb_Dept.DeptName,
                    '0' AS pId,
                    -999 AS Status3,
                    -999 AS Status4,
                    1 AS Lev
                FROM
                    Tbb_Dept
            ) AS tbl
        ORDER BY tbl.Lev,tbl.EmpId,tbl.EmpNo
    </select>

    <update id="updateDeptEmpTree">
        update Tbb_Employee
        <set>
            <if test="EmpStatus3 != null">
                EmpStatus3=#{EmpStatus3},
            </if>
            <if test="EmpStatus4 != null ">
                EmpStatus4=#{EmpStatus4},
            </if>
            UpdateTime = getdate()
        </set>
        where  EmpId=#{EmpId} and DeptId=#{DeptId}
    </update>

</mapper>