<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.dao.IBatchDao" >
  <resultMap id="BaseResultMap" type="com.sy.pojo.Batch" >
    <result property="BatId" column="BatId" jdbcType="INTEGER" />
    <result property="BatNo" column="BatNo" jdbcType="VARCHAR" />
    <result property="BatName" column="BatName" jdbcType="VARCHAR" />
    <result property="Status" column="Status"  jdbcType="INTEGER" />
    <result property="BatTicketNum" column="BatTicketNum"  jdbcType="INTEGER" />
    <result property="BatNote" column="BatNote" jdbcType="VARCHAR" />
    <result property="BatBeginTime" column="BatBeginTime"  jdbcType="DATE" />
    <result property="BatEndTime" column="BatEndTime"  jdbcType="DATE" />
    <result property="CreateTime" column="CreateTime"  jdbcType="DATE" />
    <result property="UpdateTime" column="UpdateTime"  jdbcType="DATE" />

  </resultMap>


</mapper>