<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.dao.ICollarDao" >
  <resultMap id="BaseResultMap" type="com.sy.pojo.Collar" >
    <result property="CollId" column="CollId" jdbcType="INTEGER" />
    <result property="CollNo" column="CollNo" jdbcType="VARCHAR" />
    <result property="BatId" column="BatId" jdbcType="INTEGER" />
    <result property="Status" column="Status"  jdbcType="INTEGER" />
    <result property="EmpId" column="EmpId"  jdbcType="INTEGER" />
    <result property="CollNum" column="CollNum"  jdbcType="INTEGER" />
    <result property="CollNote" column="CollNote" jdbcType="VARCHAR" />

    <result property="BatNo" column="BatNo" jdbcType="VARCHAR" />
    <result property="BatName" column="BatName" jdbcType="VARCHAR" />
    <result property="EmpNo" column="EmpNo" jdbcType="VARCHAR" />
    <result property="EmpName" column="EmpName" jdbcType="VARCHAR" />

    <result property="CollTime" column="CollTime"  jdbcType="DATE" />
    <result property="BatEndTime" column="BatEndTime"  jdbcType="DATE" />
    <result property="CreateTime" column="CreateTime"  jdbcType="DATE" />
    <result property="UpdateTime" column="UpdateTime"  jdbcType="DATE" />

    <result property="SumCollNum" column="SumCollNum"  jdbcType="INTEGER" />

  </resultMap>


  <select id="getCollList" resultMap="BaseResultMap">

    select sum(c.CollNum) as SumCollNum ,Ztab .*
    from  (
            select a.BatNo,a.BatName,b.EmpId,b.EmpNo,b.EmpName,c.*
            from Tbb_Batch a, Tbb_Employee b ,Tbb_Collar c
            where a.BatId=c.BatId
                  and b.EmpId = c.EmpId
                  and b.EmpStatus1 !=-1
                  and c.Status !=-1
                  and a.Status=1
          ) as Ztab ,Tbb_Collar c
    where Ztab .CollId=c.CollId


  </select>


  <!-- 模糊查询待定-->
  <select id="querySelectList" resultMap="BaseResultMap">
    select sum(c.CollNum) as SumCollNum ,Ztab .*
    from  (
            select a.BatNo,a.BatName,b.EmpId,b.EmpNo,b.EmpName,c.*
            from Tbb_Batch a, Tbb_Employee b ,Tbb_Collar c
            where a.BatId=c.BatId
            and b.EmpId = c.EmpId
            and b.EmpStatus1 !=-1
            and c.Status !=-1
            and a.Status=1
              <if test="EmpNo != null" >
              and   b.EmpNo like '%'+rtrim(ltrim(#{EmpNo,jdbcType=VARCHAR}))+'%'
              </if>

              <if test="EmpName != null" >
               and b.EmpName like '%'+rtrim(ltrim(#{EmpName,jdbcType=VARCHAR}))+'%'
              </if>
              <if test="CollNo != null" >
                and c.CollNo like '%'+rtrim(ltrim(#{CollNo,jdbcType=VARCHAR}))+'%'
              </if>
              <if test="Status != null and Status !='10'" >
                and c.Status =#{Status,jdbcType=INTEGER}
              </if>
              <if test="BeginDate != null" >
                and c.CollTime &gt;= #{BeginDate,jdbcType=DATE}
              </if>
              <if test="EndDate != null" >
                and c.CollTime  &lt;= #{EndDate,jdbcType=DATE}
              </if>
          ) as Ztab ,Tbb_Collar c
          where Ztab .CollId=c.CollId
  </select>

  <insert id="insertCollar" parameterType="java.util.HashMap">
    begin
    declare @CollId int
    select @CollId=isnull(max(CollId),0) from Tbb_Collar
    insert into Tbb_Collar
    select @CollId+1,
    #{CollNo,jdbcType=VARCHAR},
    #{BatId,jdbcType=INTEGER},
    #{BatEndTime,jdbcType=DATE},
    #{CollTime,jdbcType=DATE},
    #{EmpId,jdbcType=INTEGER},
    #{CollNum,jdbcType=INTEGER},
    <choose>
      <when test="CollNote != null">
        CollNote = #{CollNote,jdbcType=VARCHAR},
      </when>
      <otherwise>
        '',
      </otherwise>
    </choose>
    #{Status,jdbcType=INTEGER},
    getdate(),
    null
    end
  </insert>


  <update id="updateCollar" parameterType="java.util.HashMap">
    update Tbb_Collar
    <set >
      <if test="CollNum != null" >
        CollNum = #{CollNum,jdbcType=INTEGER},
      </if>
      <if test="CollTime != null" >
        CollTime = #{CollTime,jdbcType=DATE},
      </if>

      <if test="CollNote != null" >
        CollNote = #{CollNote,jdbcType=VARCHAR},
      </if>
    </set>
    ,UpdateTime = getdate(),Status=1
    where CollId = #{CollId,jdbcType=INTEGER}
  </update>

  <delete id="deleteCollar" parameterType="INTEGER">
  update Tbb_Collar
  set Status = -1
  where CollId = #{CollId,jdbcType=INTEGER}
  </delete>

  <select id="getCollarTicketList" resultType="Map">
    SELECT
    d.DeptId,d.DeptName,
    e.EmpId,e.EmpNo,e.EmpName,
    c.CollId,c.CollNo,
    b.BatId,b.BatName,b.BatBeginTime,
    c.CollTime,
    b.BatTicketNum,
    c.CollNum,
    c.Status,
    c.CollNote
    FROM Tbb_Collar c
    JOIN Tbb_Batch b ON b.BatId = c.BatId
    JOIN Tbb_Employee e ON e.EmpId = c.EmpId
    JOIN Tbb_Dept d ON e.DeptId = d.DeptId
    WHERE c.Status != -1 AND e.EmpStatus1 !=-1 AND b.Status = 1 AND e.EmpId = 2
    ORDER BY e.EmpId
  </select>


</mapper>