<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.dao.IDeptDao" >
  <resultMap id="BaseResultMap" type="com.sy.pojo.Dept" >
    <result property="DeptId" column="DeptId" jdbcType="INTEGER" />
    <result property="DeptNo" column="DeptNo" jdbcType="VARCHAR" />
    <result property="DeptName" column="DeptName" jdbcType="VARCHAR" />
    <result property="Status" column="Status"  jdbcType="INTEGER" />
    <result property="DeptNote" column="DeptNote"  jdbcType="VARCHAR" />
    <result property="CreateTime" column="CreateTime"  jdbcType="DATE" />
    <result property="UpdateTime" column="UpdateTime"  jdbcType="DATE" />

  </resultMap>

  <resultMap type="com.sy.pojo.Dept" id="DeptList">
  <result property="deptId" column="deptId" />
  <result property="deptName" column="deptName"/>
  <result property="deptNo" column="deptNo" />
  <result property="deptType" column="deptType" />
</resultMap>

  <select id="getDeptList" resultMap="BaseResultMap">
    SELECT *
    FROM Tbb_Dept
    where Status =1
  </select>

  <select id="getListById" resultMap="DeptList">
    SELECT deptId, deptName,deptNo,deptType
    FROM Dept
    where deptId = #{deptId,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
   SELECT deptId, deptName,deptNo,deptType
    FROM Dept
    where deptId = #{id,jdbcType=INTEGER}
  </select>
</mapper>