<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.dao.IEmployeeDao" >
  <resultMap id="BaseResultMap" type="com.sy.pojo.Employee" >
    <result property="EmpId" column="EmpId" jdbcType="INTEGER" />
    <result property="EmpNo" column="EmpNo" jdbcType="VARCHAR" />
    <result property="EmpName" column="EmpName" jdbcType="VARCHAR" />
    <result property="EmpPassword" column="EmpPassword" jdbcType="VARCHAR" />
    <result property="DeptId" column="DeptId"  jdbcType="INTEGER" />
    <result property="EmpBirth" column="EmpBirth"  jdbcType="VARCHAR" />
    <result property="EmpStatus1" column="EmpStatus1"  jdbcType="INTEGER" />
    <result property="EmpStatus2" column="EmpStatus2"  jdbcType="INTEGER" />
    <result property="EmpStatus3" column="EmpStatus3"  jdbcType="INTEGER" />
    <result property="CreateTime" column="CreateTime"  jdbcType="DATE" />
    <result property="UpdateTime" column="UpdateTime"  jdbcType="DATE" />
    <result property="DeptName" column="DeptName"  jdbcType="VARCHAR" />
  </resultMap>


  <resultMap id="ResultMap" type="com.sy.pojo.Employee" >
    <result property="EmpId" column="EmpId" jdbcType="INTEGER" />
    <result property="EmpNo" column="EmpNo" jdbcType="VARCHAR" />
    <result property="EmpName" column="EmpName" jdbcType="VARCHAR" />
    <result property="Standbyticket" column="Standbyticket" jdbcType="INTEGER" />
  </resultMap>

  <select id="getBatEmpInfo" resultMap="ResultMap">
    select x.EmpId,x.EmpNo,x.EmpName,isnull((x.BatTicketNum-y.Qty),x.BatTicketNum)  as Standbyticket
    from
    ( select a.BatId as BatId, b.EmpId, b.EmpNo, b.EmpName, a.BatTicketNum
    from Tbb_Batch a, Tbb_Employee b
    ) x,
    (
    select BatId, EmpId, isnull(sum(CollNum),0)  as Qty
    from Tbb_Collar
    group by EmpId, BatId
    ) y
    where x.BatId *= y.BatId
    and x.EmpId *= y.EmpId
    and x.BatId = #{0,jdbcType=INTEGER}
    and x.EmpId = #{1,jdbcType=INTEGER}

  </select>

  <select id="ifExist" parameterType="com.sy.pojo.Employee" resultType="boolean">
    select count(EmpId)  FROM Tbb_Employee
    where EmpName = #{EmpName,jdbcType=VARCHAR}
    and EmpPassword =#{EmpPassword,jdbcType=VARCHAR}
    and EmpStatus1 !=-1
    and EmpStatus2 =1
  </select>

  <select id="getEmpInfo" resultMap="BaseResultMap">
    SELECT *
    FROM Tbb_Employee
    where EmpName = #{EmpName,jdbcType=VARCHAR}
    and EmpPassword =#{EmpPassword,jdbcType=VARCHAR} and EmpStatus1 !=-1
  </select>


  <select id="getEmpList" resultMap="BaseResultMap">
    SELECT a.*,b.DeptName
    FROM Tbb_Employee a LEFT JOIN Tbb_Dept b ON a.DeptId=b.DeptId
    WHERE a.EmpStatus1 != -1
    ORDER BY a.EmpId
  </select>


  <select id="getNameQueryList"  parameterType="String"  resultMap="BaseResultMap">
    SELECT a.*,b.DeptName
    FROM Tbb_Employee a LEFT JOIN Tbb_Dept b ON a.DeptId=b.DeptId
    WHERE a.EmpStatus1 != -1 and a.EmpName like '%'+rtrim(ltrim(#{a.EmpName,jdbcType=VARCHAR}))+'%' or rtrim(ltrim(#{a.EmpName,jdbcType=VARCHAR}))=''
    ORDER BY a.EmpId
  </select>



  <update id="updatepwd" parameterType="com.sy.pojo.Employee" >
    update Tbb_Employee
    <set >
      <if test="EmpPassword != null" >
        EmpPassword = #{EmpPassword,jdbcType=VARCHAR},
      </if>
    </set>
    where EmpId = #{EmpId,jdbcType=INTEGER}
  </update>

  <insert id="insertEmp" parameterType="java.util.HashMap" >
    begin
    declare @EmpId int
    select @EmpId = isnull(max(EmpId),0) from Tbb_Employee
    insert into Tbb_Employee
    select @EmpId+1,#{EmpNo,jdbcType=VARCHAR},#{EmpName,jdbcType=VARCHAR},
    #{EmpPassword,jdbcType=VARCHAR},#{DeptId,jdbcType=INTEGER},
    #{EmpBirth,jdbcType=VARCHAR},#{EmpStatus1,jdbcType=INTEGER},
    #{EmpStatus2,jdbcType=INTEGER},'增加人员',
    getdate(),null,0
    end
  </insert>


  <update id="updateByPrimaryKey" parameterType="java.util.HashMap" >
    update Tbb_Employee
    <set >
      <if test="EmpNo != null" >
        EmpNo = #{EmpNo,jdbcType=VARCHAR},
      </if>
      <if test="EmpName != null" >
        EmpName = #{EmpName,jdbcType=VARCHAR},
      </if>
      <if test="EmpBirth != null" >
        EmpBirth = #{EmpBirth,jdbcType=VARCHAR},
      </if>
      <if test="EmpPassword != null" >
        EmpPassword = #{EmpPassword,jdbcType=VARCHAR},
      </if>
      <if test="DeptId != null" >
        DeptId = #{DeptId,jdbcType=INTEGER},
      </if>
      <if test="EmpStatus1 != null" >
        EmpStatus1 = #{EmpStatus1,jdbcType=INTEGER},
      </if>
      <if test="EmpStatus2 != null" >
        EmpStatus2 = #{EmpStatus2,jdbcType=INTEGER},
      </if>
    </set>
    ,UpdateTime = getdate()
    where EmpId = #{EmpId,jdbcType=INTEGER}
  </update>


  <update id="deleteEmp" parameterType="INTEGER" >
    update Tbb_Employee
    set EmpStatus1=-1
    where EmpId = #{EmpId,jdbcType=INTEGER}
  </update>



</mapper>