<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sy.dao.IVipTicketDao" >
  <resultMap id="BaseResultMap" type="com.sy.pojo.VipTicket" >
    <result property="VipAddId" column="VipAddId" jdbcType="INTEGER" />
    <result property="VipTicNo" column="VipTicNo" jdbcType="VARCHAR" />
    <result property="EmpName" column="EmpName" jdbcType="VARCHAR" />
    <result property="operaName" column="operaName" jdbcType="VARCHAR" />
    <result property="VipAddNum" column="VipAddNum" jdbcType="INTEGER" />
    <result property="Status" column="Status"  jdbcType="INTEGER" />
    <result property="EmpId" column="EmpId"  jdbcType="INTEGER" />
    <result property="VipEmpID" column="VipEMpID"  jdbcType="INTEGER" />
    <result property="VipAddNote" column="VipAddNote" jdbcType="VARCHAR" />
    <result property="VipAddTime" column="VipAddTime"  jdbcType="DATE" />
    <result property="CreateTime" column="CreateTime"  jdbcType="DATE" />
    <result property="UpdateTime" column="UpdateTime"  jdbcType="DATE" />
  </resultMap>

<!--e.EmpName=领取人  f.EmpName=操作人-->
  <select id="getVipList" resultMap="BaseResultMap">
  select v.*,e.EmpName,f.EmpName as operaName from Tbb_VipTicket v,Tbb_Employee e,Tbb_Employee f
  where v.Status=1
  and v.VipEmpID=e.EmpId
  and v.EmpId=f.EmpId
  </select>

  <select id="QueryNameByList" resultMap="BaseResultMap">
   select v.*,e.EmpName,f.EmpName as operaName from Tbb_VipTicket v,Tbb_Employee e,Tbb_Employee f
  where v.Status=1
  and v.VipEmpID=e.EmpId
  and v.EmpId=f.EmpId
  and e.EmpName like '%'+rtrim(ltrim(#{EmpName,jdbcType=VARCHAR}))+'%' or rtrim(ltrim(#{EmpName,jdbcType=VARCHAR}))=''
  </select>

  <insert id="insertVipTicket" parameterType="java.util.HashMap">
    begin
    declare @VipAddId int
    select @VipAddId=isnull(max(VipAddId),0) from  Tbb_VipTicket
    insert into Tbb_VipTicket
    select @VipAddId+1,convert(varchar(20),(@VipAddId+1001)),
    #{VipAddTime,jdbcType=DATE},
    #{EmpId,jdbcType=INTEGER},
    #{VipEmpID,jdbcType=INTEGER},
    #{VipAddNum,jdbcType=INTEGER},
    #{VipAddNote,jdbcType=VARCHAR},
    1,
    getdate(),
    null
    end
  </insert>


  <update id="updateVipTicket" parameterType="java.util.HashMap">
    update Tbb_VipTicket
    <set >
      <if test="VipEmpID != null" >
        VipEmpID = #{VipEmpID,jdbcType=INTEGER},
      </if>
      <if test="VipAddNum != null" >
        VipAddNum = #{VipAddNum,jdbcType=INTEGER},
      </if>
      <if test="VipAddTime != null" >
        VipAddTime = #{VipAddTime,jdbcType=DATE},
      </if>
      <if test="VipAddNote != null" >
        VipAddNote = #{VipAddNote,jdbcType=VARCHAR},
      </if>
    </set>
    ,UpdateTime = getdate(),Status=1
    where VipAddId = #{VipAddId,jdbcType=INTEGER}
  </update>


  <delete id="deleteVipTicket" parameterType="INTEGER">
  update Tbb_VipTicket
  set Status = -1
  where VipAddId = #{VipAddId,jdbcType=INTEGER}
  </delete>

</mapper>