.modal-fit .modal-dialog {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 50px;
}
.modal-fit .modal-body {
    height: calc(100vh - 200px);
    overflow: auto;
}
@media (min-width: 768px) {
    .modal-fit .modal-dialog {
        width: auto;
    }
}
/* ================ TABLE ================ */
table,table tr th, table tr td {
    border:1px solid #F8FAFB;
}
table {
    border: none;
}
table {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: collapse;
    border-spacing: 0;
}
table thead {
    background-color: #EBEFF2;
    border: 1px solid #efefef;
}
table tbody tr {
    background-color: white;
    border: 1px solid #e2dfdf;
}
table tbody tr td {
    border: none;
    background-color: white;
    padding: 0px;
    line-height: 22px;
}
td, th {
    border-left: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    text-align: center;
    white-space: nowrap;
    font-weight: normal;
    font-size: 10px;
    padding: 0px 0px 0px 0px;
}
.table.table-bordered > tr >td {
    height: 22px;
    max-height: 22px;
}
/* ================ 淘汰/启用样式控制 ================ */
.trueClass{
    opacity:0.1;
}
.falseClass{
}

/* ================ tpfPagination ================ */
.page-list .pagination {float:left;}
.page-list .pagination span {cursor: pointer;}
.page-list .pagination .separate span{cursor: default; border-top:none;border-bottom:none;}
.page-list .pagination .separate span:hover {background: none;}
.page-list .page-total {float:left; margin: 25px 20px;}
.page-list .page-total input, .page-list .page-total select{height: 26px; border: 1px solid #ddd;}
.page-list .page-total input {width: 40px; padding-left:3px;}
.page-list .page-total select {width: 50px;}


/* ================ ztree ================ */
/*.ztree li span.button.switch.level0 {
    visibility:hidden;
    width:1px;
}
.ztree li ul.level0 {
    padding:0;
    background:none;
}*/
/*.addTree {
    background-color: #fff;
    border-color: #fff;
    border: none;
    opacity:0.0;
}*/
.addTree {
    background-color: #fff;
    border-color: #fff;
    border: none;
    opacity: 1;
}
.addTree:hover {
    background-color: #fff;
    border-color: #fff;
    border: none;
    opacity:1;
}

/* ================ BOOSTRAP的span样式 ================ */
.input-group .input-group-addon {
    border-radius: 0;
    border-color: #d2d6de;
    background-color: #EDEDED;
}

/* ================ BOOSTRAP的日期样式 ================ */
.dropdown-menu {
    box-shadow: none;
    border-color: #eee;
    width: 300px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: white;
    opacity: 1;
}


.chose-hide {
    position: absolute!important;
    top: -999em !important;
}
.chose-container {
    border: none!important;
    float: left;
    margin-right: 40px;
    padding: 0!important;
    position: relative;
}
.chose-container .chose-single {
    padding: 6px 12px;
    color: #333;
    width: 100%;
    border: 1px solid #eee;
    display: inline-block;
    height: 30px;
}
.chose-container .chose-single::after {
    content: '';
    position: absolute;
    border-width: 6px 3px;
    border-style: solid;
    /* border-top-color: transparent; */
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: 8px;
    top: 12px;
}
.chose-container .chose-single i {
    width: 12px;
    float: right;
    right: 8px;
    font-size: 12px;
    height: 12px;
    background-color: #eee;
}
.chose-container .chose-drop {
    width: 195px;
    position: absolute;
    border: 1px solid #eee;
    z-index: 1000;
    background-color: #fff;
}
.chose-container .chose-search input[type='text'] {
    margin: 0;
    padding-left: 12px;
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    float: none;
}
.chose-container .chose-result {
    max-height: 370px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.chose-container .chose-result li {
    padding: 5px 12px;
    list-style-type: none;
}
.chose-container .chose-result li:hover {
    background-color: #e1e2e7;
}

















/*

.search_input_div1 {
    BORDER-LEFT: #6a8aae 1px solid;
    BORDER-TOP: #6a8aae 1px solid;
    BORDER-BOTTOM: #6a8aae 1px solid;
    BORDER-RIGHT: #6a8aae 1px solid;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 2px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    POSITION: relative;
}
.search_input_div2 {
    background: url(dropbg.gif)  repeat-x;
    RIGHT: 4px;
    WIDTH: 16px;
    CURSOR: default;
    PADDING-TOP: 0px;
    POSITION: absolute;
    TOP: 3px;
    HEIGHT: 20px

}
.search_input_div3 {
    BORDER-LEFT: #6a8aae 1px solid;
    BORDER-TOP: #6a8aae 1px solid;
    BORDER-BOTTOM: #6a8aae 1px solid;
    BORDER-RIGHT: #6a8aae 1px solid;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 2px;
    FLOAT: left;
    PADDING-BOTTOM: 2px;
    height: 168px;
    overflow:auto;
    PADDING-TOP: 0px;
    position: absolute;
    left:10px;
    top:10;
    background:#ffffff;
    z-index:999;

}
.search_input_div4 {
    BORDER-LEFT: #6a8aae 1px solid;
    BORDER-TOP: #6a8aae 1px solid;
    BORDER-BOTTOM: #6a8aae 1px solid;
    BORDER-RIGHT: #6a8aae 1px solid;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    height: 200px;
    overflow:auto;
    PADDING-TOP: 0px;
    position: absolute;
    left:10px;
    top:10;
    background:#ffffff;
    z-index:900;

}
.search_input_div5 {
    BORDER-LEFT: #6a8aae 1px solid;
    BORDER-TOP: #6a8aae 1px solid;
    BORDER-BOTTOM: #6a8aae 1px solid;
    BORDER-RIGHT: #6a8aae 1px solid;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    height: 30px;
    overflow:hidden;
    PADDING-TOP: 0px;
    position: absolute;
    left:10px;
    top:10;
    background:#ffffff;
    z-index:999;

}
.search_input_input {
    BORDER-RIGHT: #fff 0px solid;
    BORDER-TOP: #fff 0px solid;
    BORDER-BOTTOM: #fff 0px solid;
    BORDER-LEFT: #fff 0px solid;
    HEIGHT: 20px;
    FONT-SIZE: 13px;
    PADDING-TOP: 4px;
}

.search_input_over {background-color: #66aadd; width:100%;cursor: default; }
.search_input_out  { width:100%;cursor: default; }
.search_input_td { width:100%;}
.search_input_table {
    border:0px solid #397ccb;
    WIDTH:100%;  BACKGROUND-COLOR: #fffff;
}
*/


/**
 *   Select2
 */
.select2-container .select2-choice {
    display: block;
    height: 26px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid #aaa;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;
    border-radius: 0px;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);
    background-image: linear-gradient(to top, #eee 0%, #fff 50%);
}

.select2-container .select2-choices .select2-search-field input, .select2-container .select2-choice, .select2-container .select2-choices {
    background: none;
    padding: 0;
    border-color: #cccccc;
    border-radius: 0px;
    color: #555555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}