<!-- Content Wrapper. Contains page content -->
<div id="inner-container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box box-solid">
                <div class="box-header with-border text-center">
                    <label class="box-title">{{'CONFIG.MENU_COLLAR.COLLAR_TITLE'|translate}}</label>
                </div>
                <!--no-padding-->
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                            <div class="row">
                                <!-- 部门 -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <span>{{'CONFIG.MENU_COLLAR.COLLAR_DEPT'|translate}}</span>
                                        <select select2 ng-model="collarDepName" class="form-control"
                                                id="collarDepName"
                                                name="collarDepName"
                                                ng-change="collarDeptChange(collarDepName)"
                                                placeholder="{{'CONFIG.MENU_VIP.PLEASE_SELECT'|translate}}">
                                            <option value="" selected="selected">{{'CONFIG.MENU_COLLAR.BATCH_SELECT'|translate}}</option>
                                            <option ng-repeat="collarDepName in empList | unique: 'deptId'" value="{{collarDepName.deptId}}">{{collarDepName.deptName}}</option>
                                        </select>
                                        <!--<select ng-model="collarDepName" class="form-control"
                                                id="collarDepName"
                                                name="collarDepName"
                                                placeholder="{{'CONFIG.MENU_VIP.PLEASE_SELECT'|translate}}"
                                                ng-change="collarDeptChange(collarDepName)"
                                                ng-selected="s.deptId==collarDepName"
                                                ng-options="s.deptId as s.deptName for s in empList  | unique: 'deptId'">
                                            <option value="" selected="selected">{{'CONFIG.MENU_COLLAR.BATCH_SELECT'|translate}}</option>
                                        </select>-->
                                    </div>
                                </div>
                                <!-- 员工姓名 -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <span>{{'CONFIG.MENU_COLLAR.EMP_NAME'|translate}}</span>
                                        <div class="form-group">
                                            <!--<select ng-model="collarEmpName" class="form-control" name="collarEmpName"
                                                    id="collarEmpName"
                                                    placeholder="{{'CONFIG.MENU_VIP.PLEASE_SELECT'|translate}}"
                                                    ng-change="collarEmpChange()"
                                                    ng-options="collarEmpName as collarEmpName.empName for collarEmpName in deptEmpList">
                                                &lt;!&ndash;<option value="" selected="selected">{{'CONFIG.MENU_COLLAR.BATCH_SELECT'|translate}}</option>&ndash;&gt;
                                                <option value="">{{'CONFIG.MENU_COLLAR.BATCH_SELECT'|translate}}</option>
                                            </select>-->

                                            <select select2 ng-model="collarEmpName" class="form-control" name="collarEmpName"
                                                    id="collarEmpName"
                                                    placeholder="{{'CONFIG.MENU_VIP.PLEASE_SELECT'|translate}}"
                                                    ng-change="collarEmpChange()">
                                                <option value="">{{'CONFIG.MENU_COLLAR.BATCH_SELECT'|translate}}</option>
                                                <option ng-repeat="collarEmpName in deptEmpList | unique: 'empId'" value="{{collarEmpName.deptId}}_{{collarEmpName.empId}}_{{collarEmpName.empStatus1}}">{{collarEmpName.empName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                            <div class="row">
                                <!-- 领用编码 -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <span>{{'CONFIG.MENU_COLLAR.COLLAR_CODE'|translate}}</span>
                                        <input type="text" class="form-control input-sm" id="collarCode"
                                               name="collarCode"
                                               placeholder="{{'COMMON.PLACEHOLDER'|translate}}"
                                               ng-model="collarCode" required/>
                                    </div>
                                </div>
                                <!-- 发放批次 -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <span>{{'CONFIG.MENU_COLLAR.BAT_NAME'|translate}}</span>
                                        <select ng-model="collarBatchName" class="form-control" name="collarBatchName"
                                                ng-options="collarBatchName as collarBatchName.batName for collarBatchName in batList">
                                            <!--ng-options="collarBatchName.batId as collarBatchName.batName for collarBatchName in batList">-->
                                            <option value="" selected="selected">
                                                {{'CONFIG.MENU_COLLAR.BATCH_SELECT'|translate}}
                                            </option>
                                        </select>
                                        <!-- 隐藏的input  有效日期 -->
                                        <input class="form-control" size="11" type="hidden" value="" id="collarD1"
                                               name="collarD1"
                                               placeholder="{{'COMMON.PLACEHOLDER'|translate}}"
                                               ng-model="collarD1=collarBatchName.batEndTime  | date:'yyyy-MM-dd' "
                                               readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                            <div class="row">
                                <!-- 有效日期 -->
                                <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    &lt;!&ndash;<div class="form-group">
                                        <span>{{'CONFIG.MENU_COLLAR.D1'|translate}}</span>
                                        <input type="text" class="form-control input-sm" id="collarD1" name="collarD1"
                                               placeholder="{{'COMMON.PLACEHOLDER'|translate}}"
                                               ng-model="collarD1" required/>
                                        <span class="input-group-addon" style="background-color: white;">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                            input-group has-feedback
                                        </span>
                                    </div>&ndash;&gt;
                                    <div class="form-group has-feedback">
                                        <span>{{'CONFIG.MENU_COLLAR.D1'|translate}}</span>
                                        <div ng-model='timepickerTest' ng-time
                                             class="input-group date form_date col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                             data-date="" data-date-format="yyyy-MM-dd" data-link-field="dtp_input2"
                                             data-link-format="yyyy-MM-dd">
                                            &lt;!&ndash;<span class="input-group-addon">{{'CONFIG.MENU_COLLAR.D1'|translate}}</span>&ndash;&gt;
                                            <input class="form-control" size="11" type="text" value="" id="collarD1"
                                                   name="collarD1"
                                                   placeholder="{{'COMMON.PLACEHOLDER'|translate}}"
                                                   ng-model="collarD1=collarBatchName.batEndTime  | date:'yyyy-MM-dd' "
                                                   readonly>
                                            &lt;!&ndash;<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>&ndash;&gt;
                                            <span class="input-group-addon"
                                                  style="background-color: white; border: 0px solid #ccc;border-radius: 0px;">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        &lt;!&ndash;<input type="hidden" id="dtp_input2" value="" /><br/>&ndash;&gt;
                                    </div>
                                </div>-->
                                <!-- 领用日期 -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group has-feedback">
                                        <span>{{'CONFIG.MENU_COLLAR.D2'|translate}}</span>
                                        <div ng-model='timepickerTest' ng-time
                                             class="input-group date form_date col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                             data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2"
                                             data-link-format="yyyy-mm-dd">
                                            <!--<span class="input-group-addon">{{'CONFIG.MENU_COLLAR.D1'|translate}}</span>-->
                                            <input class="form-control" size="11" type="text" value="" id="collarD2"
                                                   name="collarD2"
                                                   ng-model="collarD2" readonly>
                                            <!--<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
                                            <span class="input-group-addon"
                                                  style="background-color: white; border: 0px solid #ccc;border-radius: 0px;">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <!--<input type="hidden" id="dtp_input2" value="" /><br/>-->
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <!-- 领用数量 -->
                                    <div class="form-group">
                                        <span>{{'CONFIG.MENU_COLLAR.NUM'|translate}}</span>
                                        <input type="text" class="form-control input-sm" id="collarNum" name="collarNum"
                                               placeholder="{{'COMMON.PLACEHOLDER'|translate}}"
                                               ng-model="collarNum" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <!-- 领用说明 -->
                                    <div class="form-group">
                                        <span>{{'CONFIG.MENU_COLLAR.NOTE'|translate}}</span>
                                        <input type="text" class="form-control input-sm" id="collarNote"
                                               name="collarNote"
                                               placeholder="{{'COMMON.PLACEHOLDER'|translate}}"
                                               ng-model="collarNote"/>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <!-- 职工劵补录 -->
                                        <div class="form-group">
                                            <span class="input-group-addon has-feedback" style="padding: 6px 0px;
                                                text-align: left;
                                                background-color: white;
                                                border: 0px solid #ccc;">
                                                {{'CONFIG.MENU_COLLAR.COLLAR_STAUTS'|translate}}
                                        </span>
                                        <div class="panel-heading form-control" style="
                                    padding: 5px 15px;
                                    border: 0px solid #ccc;
                                    border-top-left-radius: 0px;
                                    border-top-right-radius: 0px;">
                                            <input tabindex="0" type="radio" id="collarStatus_Y" value="0"
                                                   name="collarStatus"
                                                   ng-value=0
                                                   ng-model="collarStatus"
                                                   ng-icheck>
                                            <label for="collarStatus_Y" style="font-weight: normal;">{{'CONFIG.MENU_AUTH.STATUS_Y'|translate}}</label>
                                            <input tabindex="1" type="radio" id="collarStatus_N" value="1"
                                                   name="collarStatus"
                                                   ng-value=1
                                                   ng-model="collarStatus"
                                                   ng-icheck>
                                            <label for="collarStatus_N" style="font-weight: normal;">{{'CONFIG.MENU_AUTH.STATUS_N'|translate}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="row">
                        &lt;!&ndash;pull-right&ndash;&gt;
                        &lt;!&ndash; col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 &ndash;&gt;
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                            <button type="submit" name="submit" ng-click="saveCollar()"
                                    class="btn btn-success btn-lg ">
                                {{'CONFIG.MENU_COLLAR.OK'|translate}}
                            </button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  ">
                            <button type="submit" ng-click="canelCollar()" class="btn btn-danger btn-lg">
                                {{'CONFIG.MENU_COLLAR.CANCEL'|translate}}
                            </button>
                        </div>
                    </div>-->

                    <div class="box-footer">
                        <div class="form-group">
                            <div class="row" style="margin-right: 0px;">
                                <!-- 添加 -->
                                <div class="pull-right" style="margin-top: 0px;">
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn btn-success btn-md" ng-click="saveCollar()">{{'CONFIG.MENU_COLLAR.OK'|translate}}</button>
                                        <button type="button" class="btn btn-success btn-md" ng-click="canelCollar()">{{'CONFIG.MENU_COLLAR.CANCEL'|translate}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px; margin-bottom: 0px">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 column">
                                    <table id="listCollar" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th ng-repeat="headerInfo in headerInfos track by $index " >{{ headerInfo.name }}</th>
                                        </tr>
                                        </tr>
                                        </thead>
                                        <tbody id="listCollarTable">
                                            <tr ng-repeat="row in items " ng-init="outerIndex = $index">
                                                <td>{{ row.DeptName }}</td>
                                                <td>{{ row.EmpNo }}</td>
                                                <td>{{ row.EmpName }}</td>
                                                <td>{{ row.CollNo }}</td>
                                                <td>{{ row.BatName }}</td>
                                                <td>{{ row.BatBeginTime }}</td>
                                                <td>{{ row.BatEndTime }}</td>
                                                <td>{{ row.CollTime }}</td>
                                                <td>{{ row.BatTicketNum }}</td>
                                                <td>{{ row.CollNum }}</td>
                                                <td>{{ row.Standbyticket }}</td>
                                                <td>{{ row.CollNote }}</td>
                                                <td ng-class="{true:'blackClass',false:'redClass'}[row.Status]"
                                                    ng-disabled="{{ row.Status == '0' ? 'true' : 'false' }}">
                                                    {{ (row.Status == '1') ? "未出票" : "已出票" }}
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-info btn-xs"
                                                            ng-class="{true:'trueClass',false:'falseClass'}[row.Status]"
                                                            ng-disabled="{{ row.Status == '0' ? 'true' : 'false' }}"
                                                            ng-click="editListCollar(row, $event)">
                                                        <span class="glyphicon glyphicon-pencil"></span>{{'CONFIG.MENU_USER.MODIFY'|translate}}
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-xs"
                                                            ng-class="{true:'trueClass',false:'falseClass'}[row.Status]"
                                                            ng-disabled="{{ row.Status == '0' ? 'true' : 'false' }}"
                                                            ng-click="delListCollar(row, $event)">
                                                        <span class="glyphicon glyphicon-remove-circle"></span>{{'CONFIG.MENU_PLACE.PLACE_DEL'|translate}}
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- pagination START-->
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  column">
                                    <div class="pull-right">
                                        <nav>
                                            <ul class="pagination">
                                                <li>
                                                    <a ng-click="Previous()" role="button">
                                                        <!--<span role="button" >上一页</span>-->
                                                        <span role="button">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" role="button">
                                                    <a ng-click="selectPage(page)" >{{ page }}</a>
                                                </li>
                                                <li>
                                                    <a ng-click="Next()" role="button">
                                                        <!--<span role="button" >下一页</span>-->
                                                        <span role="button" >&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <!-- pagination END-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

