<div class="form-group">
    <label>{{'CONFIG.MENU_AUTH.CURRENT_EMP'|translate}}</label>
    <input style="color: red" class="form-control input-sm" value="{{curEmpName}}" ng-model="editAuth.EmpName"
           disabled/>
</div>

<!--<div class="form-group">
    <label>{{'CONFIG.MENU_AUTH.VIP_AUTH'|translate}}</label>
    <input class="form-control input-sm" value="{{curBrandCode}}" ng-model="editBrand.Code"/>
</div>-->

<!--  -->
<div class="form-group">
        <span class="input-group-addon has-feedback" style="padding: 6px 0px;
                                                text-align: left;
                                                background-color: white;
                                                border: 0px solid #ccc;">
            {{'CONFIG.MENU_AUTH.EMP1_AUTH'|translate}}
        </span>
    <div class="panel-heading form-control" style="
                                    padding: 5px 15px;
                                    border: 0px solid #ccc;
                                    border-top-left-radius: 0px;
                                    border-top-right-radius: 0px;">
        <input tabindex="1" type="radio" id="editEmp1Status6_Y" value="1" name="editEmp1Status6"
               ng-value=1
               ng-model="editAuth.editEmp1Status6"
               ng-icheck>
        <label for="editEmp1Status6_Y" style="font-weight: normal;">{{'CONFIG.MENU_AUTH.STATUS_Y'|translate}}</label>
        <input tabindex="0" type="radio" id="editEmp1Status6_N" value="0" name="editEmp1Status6"
               ng-value=0
               ng-model="editAuth.editEmp1Status6"
               ng-icheck>
        <label for="editEmp1Status6_N" style="font-weight: normal;">{{'CONFIG.MENU_AUTH.STATUS_N'|translate}}</label>
    </div>
</div>

<!-- DEPT -->
<div class="form-group">
        <span class="input-group-addon has-feedback" style="padding: 6px 0px;
                                                text-align: left;
                                                background-color: white;
                                                border: 0px solid #ccc;">
            {{'CONFIG.MENU_AUTH.DEPT_AUTH'|translate}}
        </span>
    <div class="panel-heading form-control" style="
                                    padding: 5px 15px;
                                    border: 0px solid #ccc;
                                    border-top-left-radius: 0px;
                                    border-top-right-radius: 0px;">
        <input tabindex="1" type="radio" id="editDeptStatus7_Y" value="1" name="editDeptStatus7"
               ng-value=1
               ng-model="editAuth.editDeptStatus7"
               ng-icheck>
        <label for="editDeptStatus7_Y" style="font-weight: normal;">{{'CONFIG.MENU_AUTH.STATUS_Y'|translate}}</label>
        <input tabindex="0" type="radio" id="editDeptStatus7_N" value="0" name="editDeptStatus7"
               ng-value=0
               ng-model="editAuth.editDeptStatus7"
               ng-icheck>
        <label for="editDeptStatus7_N" style="font-weight: normal;">{{'CONFIG.MENU_AUTH.STATUS_N'|translate}}</label>
    </div>
</div>


<!-- BATCH -->
<div class="form-group">
        <span class="input-group-addon has-feedback" style="padding: 6px 0px;
                                                text-align: left;
                                                background-color: white;
                                                border: 0px solid #ccc;">
            {{'CONFIG.MENU_AUTH.BATCH_AUTH'|translate}}
        </span>
    <div class="panel-heading form-control" style="
                                    padding: 5px 15px;
                                    border: 0px solid #ccc;
                                    border-top-left-radius: 0px;
                                    border-top-right-radius: 0px;">
        <input tabindex="1" type="radio" id="editEmpStatus5_Y" value="1" name="editEmpStatus5"
               ng-value=1
               ng-model="editAuth.editEmpStatus5"
               ng-icheck>
        <label for="editEmpStatus5_Y" style="font-weight: normal;">{{'CONFIG.MENU_AUTH.STATUS_Y'|translate}}</label>
        <input tabindex="0" type="radio" id="editEmpStatus5_N" value="0" name="editEmpStatus5"
               ng-value=0
               ng-model="editAuth.editEmpStatus5"
               ng-icheck>
        <label for="editEmpStatus5_N" style="font-weight: normal;">{{'CONFIG.MENU_AUTH.STATUS_N'|translate}}</label>
    </div>
</div>

<!-- EMP -->
<div class="form-group">
        <span class="input-group-addon has-feedback" style="padding: 6px 0px;
                                                text-align: left;
                                                background-color: white;
                                                border: 0px solid #ccc;">
            {{'CONFIG.MENU_AUTH.EMP_AUTH'|translate}}
        </span>
    <div class="panel-heading form-control" style="
                                    padding: 5px 15px;
                                    border: 0px solid #ccc;
                                    border-top-left-radius: 0px;
                                    border-top-right-radius: 0px;">
        <input tabindex="1" type="radio" id="editEmpStatus4_Y" value="1" name="editEmpStatus4"
               ng-value=1
               ng-model="editAuth.editEmpStatus4"
               ng-icheck>
        <label for="editEmpStatus4_Y" style="font-weight: normal;">{{'CONFIG.MENU_AUTH.STATUS_Y'|translate}}</label>
        <input tabindex="0" type="radio" id="editEmpStatus4_N" value="0" name="editEmpStatus4"
               ng-value=0
               ng-model="editAuth.editEmpStatus4"
               ng-icheck>
        <label for="editEmpStatus4_N" style="font-weight: normal;">{{'CONFIG.MENU_AUTH.STATUS_N'|translate}}</label>
    </div>
</div>

<!-- SEARCH TICKET -->
<div class="form-group">
        <span class="input-group-addon has-feedback" style="padding: 6px 0px;
                                                text-align: left;
                                                background-color: white;
                                                border: 0px solid #ccc;">
            {{'CONFIG.MENU_AUTH.DEPT_AUTH'|translate}}
        </span>
    <div class="panel-heading form-control" style="
                                    padding: 5px 15px;
                                    border: 0px solid #ccc;
                                    border-top-left-radius: 0px;
                                    border-top-right-radius: 0px;">
        <input tabindex="1" type="radio" id="editSearchTicketStatus8_Y" value="1" name="editSearchTicketStatus8"
               ng-value=1
               ng-model="editAuth.editSearchTicketStatus8"
               ng-icheck>
        <label for="editSearchTicketStatus8_Y" style="font-weight: normal;">{{'CONFIG.MENU_AUTH.STATUS_Y'|translate}}</label>
        <input tabindex="0" type="radio" id="editSearchTicketStatus8_N" value="0" name="editSearchTicketStatus8"
               ng-value=0
               ng-model="editAuth.editSearchTicketStatus8"
               ng-icheck>
        <label for="editSearchTicketStatus8_N" style="font-weight: normal;">{{'CONFIG.MENU_AUTH.STATUS_N'|translate}}</label>
    </div>
</div>

<!-- VIP -->
<div class="form-group">
        <span class="input-group-addon" style="padding: 6px 0px;
                                                text-align: left;
                                                background-color: white;
                                                border: 0px solid #ccc;">
            {{'CONFIG.MENU_AUTH.VIP_AUTH'|translate}}
        </span>
    <div class="panel-heading form-control" style="
                                    padding: 5px 15px;
                                    border: 0px solid #ccc;
                                    border-top-left-radius: 0px;
                                    border-top-right-radius: 0px;">
        <input tabindex="1" type="radio" id="editEmpStatus3_Y" value="1" name="editEmpStatus3"
               ng-value=1
               ng-model="editAuth.editEmpStatus3"
               ng-icheck>
        <label for="editEmpStatus3_Y" style="font-weight: normal;">{{'CONFIG.MENU_AUTH.STATUS_Y'|translate}}</label>
        <input tabindex="0" type="radio" id="editEmpStatus3_N" value="0" name="editEmpStatus3"
               ng-value=0
               ng-model="editAuth.editEmpStatus3"
               ng-icheck>
        <label for="editEmpStatus3_N" style="font-weight: normal;">{{'CONFIG.MENU_AUTH.STATUS_N'|translate}}</label>
    </div>
</div>

<div class="form-group">
    <button type="submit" ng-click="canel()" class="btn btn-danger pull-right">{{'COMMON.CANCEL'|translate}}</button>
    <button type="submit" name="submit" ng-click="saveEdit()" class="btn btn-success pull-right"
            style="margin-right: 5px">{{'COMMON.OK'|translate}}
    </button>
</div>